name: Run JSON Server and Playwright Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      # Krok 1: Checkout repozytorium
      - name: Checkout repository
        uses: actions/checkout@v3

      # Krok 2: Zainstaluj Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Krok 3: Zainstaluj zależności
      - name: Install dependencies
        run: npm install

      # Krok 4: Wykonaj kopię pliku db.json
      - name: Copy db.json to db-copy.json
        run: cp db.json db-copy.json

      # Krok 5: Uruchom JSON Server w tle
      - name: Start JSON Server
        run: npx json-server --watch db-copy.json --port 3001 &

      # Krok 7: Zainstaluj Playwright
      - name: Install Playwright Browsers
        run: |
          cd playwright-ts
          npx playwright install

      # Krok 8: Uruchom testy Playwright
      - name: Run Playwright tests
        run: npx playwright test
