name: Run JSON Server and Postman Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    uses: ./.github/workflows/common-setup.yaml
    with:
      port: 3001

  postman:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman tests
        run: newman run postman/postman/collections/json-server-testing.postman_collection.json
